.AppFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 0.4rem;
}

.AppVersion {
    font-size: 0.8rem;
    color: #fafafa5d;
    text-decoration: none;
    margin-left: 0.5rem;
}
