.desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    height: 100vh;
    font-size: 26px;
}

.switch {
    margin: 10px;
}

.desktop-switches {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    color: white;
    font-size: 26px;
    padding: 10px;
}

.roleSetter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
